body {
  margin: auto;
  text-align: center;
}

/* NAV */

nav {
  /*border: 1px solid yellow !important;*/
  border: none !important;
  background: transparent !important;
  height: 50px;
}


#go-menu {
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  padding: 0 !important;
  position: relative;
  background: none !important;
  margin-right: 10px;
}

#go-menu:focus, #go-menu:active {
  outline: none !important;
  background: none !important;
  box-shadow: none;
}

#go-menu div {
  line-height: normal;
  position: absolute;
  top: -25px;
  left: -5px;
}

#go-menu span {
  line-height: normal;
  display: block !important;
  font-size: 3em;
  height: 10px;
  margin: auto;
  margin-bottom: 5px;
  color: #FFBD2B;
}

/* MENU */

#menu {
  width: 100vw;
  height: calc(100vh - 50px);
  /*background-color: red;*/
  position: fixed;
  top: 50px;
}

.hide-ele {
  display: none;
}

.show-ele {
  display: block;
}

#menu .bloc-menu {
  width: calc(100% / 3);
  height: calc(100% / 2);
  /*background-color: yellow;*/
  display: inline-block;
}

#menu .bloc-menu:hover {
  background-color: blue;
}

@media (max-width: 600px) {
  #menu .bloc-menu {
    width: calc(100% / 2);
    height: calc(100% / 3);
  }
}

/* HOME */

#home {
  height: 600px;
  background: url("../images/backgrounds/home2.jpg") no-repeat center 0;
  background-size: cover;
  line-height: 600px;
  position: relative;
}

#title-home  {
  line-height: normal;
  display: inline-block;
  color: #FFBD2B;
}

/* ABOUT */

#about {
  background-color: white;
  position: relative;
}

#about h1 {
  color: #0CAEE8;
  text-transform: uppercase;
}

#about .bloc-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}

#picture-about {
  width: 256px;
  margin: auto;
  position: relative;
}

#frame-about {
  width: 256px;
  height: auto;
}

#photo-about {
  width: 211px;
  height: auto;
  /*border: 3px solid #0CAEE8;*/
  /*border-radius: 50%;*/
  line-height: normal;
  position: absolute;
  top: 76px;
  left: calc(100% - 233px);
}

#about p {
  font-size: 1.4em;
  color: #7C8081;
  text-align: left;
}

@media (max-width: 992px) {
  #about p {
    text-align: center;
  }
}

/* SKILL */

#skill {
  min-height: 300px;
  background-color: #14BCC7;
}

#skill h1 {
  color: white;
  text-transform: uppercase;
}

#skill h2 {
  color: white;
}

.btn-skill {
  margin-bottom: 20px;
}

#skill button {
  width:100px;
  height: 50px;
  border: none;
  background-color: #164C6E;
  color: white;
  margin-top: 20px;
}

#skill button.selected {
  background-color: #FFBD2B;
}

#skill button:hover {
  background-color: #FFBD2B;
}

#skill .group-btn {
  display: inline-block;
}

/* MEDIA QUERIES SKILL BUTTONS */

@media (max-width: 550px)
{
  #all-skill {
    display: block;
    margin: auto;
  }
}

@media (max-width: 440px)
{
  #skill .group-btn {
    display: block;
  }
}


.active-border{
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 100%;

  background-color: #FFBD2B;
  background-image:
      linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);

  display: inline-block;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

/*
25% = 90°
50% = 180°
75% = 270°

ATTENTION : La couleur change
if (deg <= 180)
  'background-image','linear-gradient(' + (90+i) + 'deg, transparent 50%, #A2ECFB 50%),linear-gradient(90deg, #A2ECFB 50%, transparent 50%)'
else (deg > 180)
  'background-image','linear-gradient(' + (i-90) + 'deg, transparent 50%, #FFBD2B 50%),linear-gradient(90deg, #A2ECFB 50%, transparent 50%)'
*/

.circle {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #E6F4F7;
}

.circle img {
  width: 64px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

.prec {
  top: 75px;
  position: relative;
  font-size: 10px;
}

/* LANGUAGE */

/* 75% */
#java-skill, #cpp-skill, #c-skill {
  background-image:
      linear-gradient(180deg, transparent 50%, #FFBD2B 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* 50% */
#c-sharp-skill, #sql-skill, #js-skill, #html-skill, #css-skill, #php-skill {
  background-image:
      linear-gradient(270deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* 25% */
#ada-skill, #python-skill, #ruby-skill {
  background-image:
      linear-gradient(180deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* CONCEPTION */

/* 75% */
#poo-skill {
  background-image:
      linear-gradient(180deg, transparent 50%, #FFBD2B 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* 50% */
#pattern-skill, #uml-skill, #merise-skill, #git-skill {
  background-image:
      linear-gradient(270deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* FRAMEWORK */

/* 50% */
#boostrap-skill {
  background-image:
      linear-gradient(270deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* 25% */
#symfony-skill, #angularjs-skill {
  background-image:
      linear-gradient(180deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* SOFTWARE */

/* 50% */
#eclipse-skill, #xcode-skill, #unity-skill {
  background-image:
      linear-gradient(270deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

/* 25% */
#visual-skill, #sublime-skill, #atom-skill, #photoshop-skill, #gimp-skill, #office-skill, #open-skill {
  background-image:
      linear-gradient(180deg, transparent 50%, #A2ECFB 50%),
      linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}
